*{
    margin:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.header {
    background-image: url("../images/pizza.jpg");
    min-width: 100vw;
    background-size: cover;
    background-position: 0% 30%;
    min-height: 30vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.menu {
    display:flex;
    list-style: none;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color:#ebedef;
}

li {
    padding: 10px;
}

li:hover {
    color:#c4c7cf;
    cursor: grab;
}

.info {
    min-width: 70vw;
    background-color: #ffa66f;
    min-height: 65vh;
}

.info-grid {
    display:grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr 1fr;
}

.info-grid img {
    width: 200px;
    height: 200px;
}